__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.vscode/
.idea/
.venv/
venv/
env/

# Allow tracking results images, text reports, datasets and joblib models in this subfolder
!results/**
!weather_forecasting_data/**
!*.joblib
